h1{
    color: yellow;
}
.card{
    border: 2px solid black;
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(10, 154, 225);
}
.card img{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}
.card button{
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.card button:hover{
    background-color: burlywood;
    cursor: pointer;
}
.navbar{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
.navbar a{
    padding: 15px;
    text-decoration: none;
    color: grey;
}
.navbar a:hover{
    color: black;
    text-decoration: underline;
}
body{
    background-color: antiquewhite;
    margin: 0px;
}